.recipe {
  /* background-color: #555; */
}

.recipe__content {
  width: 100%;
  margin: 4.8rem auto 6.4rem;
  display: flex;
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #555; */
  gap: 2.8rem;
}

.recipe__title {
  padding: 0 1.8rem;
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center;
  color: #343a40;
}

.recipe__container--image {
  /* margin-top: 2.8rem; */
  width: 100%;
  max-width: 48rem;
  display: flex;
  justify-content: center;
}

.recipe__container--image img {
  width: 80%;
}

.recipe__container--section {
  width: 80%;
  margin-top: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.recipe__container--section h4 {
  font-weight: 500;
  padding-bottom: 1.2rem;
  border-bottom: 1.8px solid #dee2e6;
  color: #5c940d;
}

.recipe__container--section ul,
.recipe__container--section div {
  margin-top: 1.8rem;
  display: flex;
}

.recipe__container--section ul {
  padding: 0 1.8rem;
}

.recipe__list--ingredients {
  flex-direction: column;
  gap: 1.4rem;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.recipe__item--ingredients {
  list-style-type: disc;
}

.recipe__container--instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.2rem;
}

.recipe__btn-link--instruction:link,
.recipe__btn-link--instruction:visited {
  padding: 1rem;
  background-color: #74b816;
  color: #f8f9fa;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 4px;
}

.recipe__link--instructions:link,
.recipe__link--instructions:visited {
  color: #74b816;
  font-weight: 500;
}

.recipe__container--preparation {
  width: 100%;
  display: flex;
}

.recipe__list--nutrition {
  align-self: center;
  width: 100%;
  max-width: 32rem;
  display: flex;
  justify-content: space-between;
}

.recipe__item--nutrition {
  text-align: center;
}

.recipe__item--nutrition p {
  font-size: 1.8rem;
  font-weight: 500;
  color: #74b816;
}

.recipe__item--nutrition small {
  font-size: 1rem;
  font-weight: 600;
  color: #495057;
}

.recipe__list--health-labels {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: 1.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #f8f9fa;
}

.recipe__item--health-labels {
  padding: 0.2rem 0.6rem;
  border-radius: 100rem;
  background-color: #868e96;
}

.recipe__button--fetch-data {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  background-color: #555;
  color: #fff;
}
