.modal {
  position: absolute;
  width: 100%;
  top: 100%;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f8f9fa;
  border: 1.8px solid #dee2e6;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.modal .modal__link,
.modal .modal__button {
  display: flex;
  padding: 1.6rem 2rem;
  font-weight: 500;
}

.modal .modal__link:hover,
.modal .modal__button:hover {
  background-color: #e9ecef;
  color: #66a80f;
}

.header__label--user-name {
  display: hidden;
}

.modal button {
  display: flex;
}

.modal__button.modal__button--signup {
  font-weight: 600;
  color: #66a80f;
}

@media (min-width: 473px) {
  .modal {
    width: 26rem;
    align-items: flex-start;
    overflow: hidden;
  }

  .modal .modal__link,
  .modal .modal__button {
    width: 100%;
  }
}
