@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=Katibeh&family=Righteous&display=swap');

.logo {
  /* font-family: 'Averia Serif Libre', cursive; */
  font-family: 'Righteous', cursive;
  font-size: 2.8rem;
  font-weight: 500;
  font-style: normal;

  color: #5c940d;
  cursor: pointer;
}

.logo span {
  color: #82c91e;
}

.logo.larger {
  font-size: 4.8rem;
}
