.signup {
  margin: 0 auto;
  padding: 0 2.8rem;
  max-width: 36rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space;
  gap: 1.8rem;
  color: #343a40;
}

.signup__logo {
  margin-top: auto;
  margin-bottom: 2.8rem;
}

.signup__header {
  align-self: flex-start;
  margin-bottom: 1.8rem;
}

.signup__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.signup__button--submit {
  width: 100%;
  margin-top: 1.8rem;
  padding: 1rem;

  font-weight: 600;

  background-color: #74b816;
  color: #f8f9fa;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 300ms;
}

.signup__button--submit:focus {
  outline: auto;
  /* border-color: #adb5bd; */
}

.signup__button--submit:hover {
  background-color: #5c940d;
}

.signup__link--redirect {
  margin-top: 1.8rem;
  font-size: 1.4rem;
}

.signup__link--redirect a {
  color: #5c940d;
}

.signup__footer {
  margin-top: auto;
  padding: 2.8rem 0 2.2rem 0;

  font-size: 1.2rem;
}
