.signin {
  margin: 0 auto;

  max-width: 36rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space;
  gap: 1.8rem;
  color: #343a40;
}

.signin__logo {
  margin-top: auto;
  margin-bottom: 4.8rem;
}

.signin__header {
  align-self: flex-start;
  margin-bottom: 1.8rem;
}

.signin__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.signin__button--submit {
  margin-top: 1.8rem;
  padding: 1rem;

  font-weight: 600;

  background-color: #74b816;
  color: #f8f9fa;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 300ms;
}

.signin__button--submit:focus {
  outline: auto;
  /* border-color: #adb5bd; */
}

.signin__button--submit:hover {
  background-color: #5c940d;
}

.redirect--signin {
  margin-top: 1.8rem;
  font-size: 1.4rem;
}

.redirect--signin a {
  color: #5c940d;
}

.signin__footer {
  margin-top: auto;
  padding: 2.8rem 0 2.2rem 0;

  font-size: 1.2rem;
}

.signin__message--failed {
  padding: 0.8rem;
  border: 1.8px solid #c92a2a;
  border-radius: 4px;
  text-align: center;

  font-weight: 600;

  background-color: #ffe3e3;
  color: #c92a2a;
}
