.recipe-list__container {
  box-sizing: border-box;
  padding: 10.8rem 0 5.4rem 0;

  width: 100%;
  max-width: 130rem;
  margin: 0 auto;
}

.recipe-list__title--search-status {
  margin-bottom: 4.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #495057;
}

.recipe-list__title--search-status i {
  color: #74b816;
}

.recipe-list__list {
  width: 100%;
  margin: 0 auto;
  gap: 3.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
