.header {
  position: relative;
  padding: 0 2rem;
  height: 6.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #212529;
  border-bottom: 1.8px solid #dee2e6;
}

.header button {
  font-size: 1.6rem;
  font-weight: 600;
}

.header__buttons--account {
  display: flex;
  gap: 2.8rem;
}

.header__button--signin {
  display: none;
  color: #5c940d;
}

.header__button--signin:after {
  content: '';
  margin-top: 0.2rem;
  width: 0;
  height: 3px;
  display: block;
  background-color: #5c940d;
  transition: 300ms;
}

.header__button--signin:hover:after {
  width: 100%;
}

.header__button--signup {
  display: none;
  padding: 0.8rem 2.2rem;
  background-color: #5c940d;
  color: #f8f9fa;
  border-radius: 4px;

  transition: all 300ms;
}

.header__button--signup:hover {
  background-color: #66a80f;
}

.header__button--signin-mobile {
  width: 3.6rem;
}

.header__button--signin-mobile img {
  width: 100%;
}

.header__container--user-info {
  height: 100%;
  padding-right: 0.2rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  cursor: pointer;
}

.header__container--user-photo {
  width: 3.6rem;
}

.header__container--user-photo img {
  width: 100%;
}

.header__label--user-name,
.header__button--user-modal {
  display: none;
}

.header__label--user-name {
  font-weight: 600;
  color: #5c940d;
}

.header__button--user-modal ion-icon {
  display: flex;
  font-size: 2rem;
  color: #868e96;
}

@media (min-width: 473px) {
  .header__button--signin,
  .header__button--signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header__container--user-info {
    padding-right: 2.2rem;
  }

  .header__label--user-name,
  .header__button--user-modal {
    display: flex;
  }

  .header__button--signin-mobile {
    display: none;
  }
}
