.footer {
  height: 3.2rem;
  padding: 0.6rem 2rem 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;

  border-top: 1.8px solid #dee2e6;
}

.footer__copyright {
  font-size: 1.2rem;
  font-weight: 600;
  color: #495057;
}

.footer ul {
  display: flex;
  gap: 2rem;

  font-size: 1.4rem;
  font-weight: 500;
  color: #446d0b;
}
