.footer {
  height: 3.2rem;
  margin-top: auto;
  margin-bottom: 3.8rem;
  padding: 3.2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  border-top: 1.8px solid #dee2e6;
}

.footer__copyright {
  font-size: 1.2rem;
  font-weight: 600;
  color: #495057;
}

.footer ul {
  display: flex;
  gap: 2rem;

  font-size: 1.4rem;
  font-weight: 500;
  color: #446d0b;
}

@media (min-width: 560px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
